# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# 🛡️ SEGURIDAD (IMPORTANTE)
.env
.env.local
.env.*.local
# Ignora cualquier archivo que contenga tus llaves de Supabase
supabase/functions/.env

# typescript
*.tsbuildinfo

# generated native folders (EAS Build las genera en la nube, no las necesitás acá)
/ios
/android